body {
  background-color: #362350;
  color: #e0e0e0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
  height: 100vh;
  margin: 0;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.6;
}